@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-base-400: #737373;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #FCFBF9;
  --color-base-300: #AFAFAF;
  --color-base-content: #0A0D10;
  --color-primary: #DA7606;
  --color-primary-content: oklch(97% 0.014 343.198);
  --color-secondary: oklch(100% 0 0);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(69% 0.17 162.48);
  --color-accent-content: oklch(97% 0.021 166.113);
  --color-neutral: oklch(14% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(97% 0.014 254.604);
  --color-info-content: oklch(54% 0.245 262.881);
  --color-success: oklch(98% 0.018 155.826);
  --color-success-content: oklch(62% 0.194 149.214);
  --color-warning: oklch(98% 0.026 102.212);
  --color-warning-content: oklch(68% 0.162 75.834);
  --color-error: oklch(97% 0.013 17.38);
  --color-error-content: oklch(57% 0.245 27.325);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.simple-container {
  @apply p-6 bg-base-100 rounded-lg shadow-md border border-base-300
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

/* NO BORDERS EN LOS INPUT, SELECT, TEXTAREA ETC... */
.select,
.textarea,
.input:focus,
.input:focus-within {
    outline: none !important;
    outline-offset: 0 !important;
}